@{
    ViewData["Title"] = "ELECCIÓN";
}  
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="~/css/estilos.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    
</head>

 <br>

<section class="price container">
            <h2 class="subtitle">ELIGE LA OPCIÓN QUE DESEAS REALIZAR</h2>
 <br>
            <div class="price__table">
                <div class="price__element price__element--best">
                    <p class="price__name">Polnice</p>
                    <h3 class="price__price">LISTA DE PRODUCTOS</h3>

                    <div class="price__items">
                        <p class="price__features">Como administrador tengo acceso a modificar la lista de productos.</p>
                        <p class="price__features">Si deseas hacerlo, haz click en el botón "Empieza ahora".</p>
                    
                       
                    </div>
     

        <a class="price__cta" asp-controller="Producto" asp-action="ListarProducto">Empieza ahora</a>
                </div>


                <div class="price__element price__element--best">
                    <p class="price__name">Polnice</p>
                    <h3 class="price__price">NUEVOS PRODUCTOS</h3>

                    <div class="price__items">
                        <p class="price__features">Como administrador tengo acceso a registrar nuevos productos.</p>
                        <p class="price__features">Si deseas hacerlo, haz click en el botón "Empieza ahora".</p>
                    
                       
                    </div>
     

        <a class="price__cta" asp-controller="Producto" asp-action="RegistrarProducto">Empieza ahora</a>
                </div>


            

 </div>
 </div>
            </div>

        <a class="price__cta" asp-controller="Admin" asp-action="Producto">Volver al Tablero</a>
       <br>
        </section>


