html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form{
  background: #E0D8E7;
  padding: 40px 35px;
<<<<<<< HEAD
  border-radius: 20px; 
  
}

@media (max-width:575.98px){
.form{
  width: 95%;    
=======
  border-radius: 20px;
>>>>>>> 690a75d5e0bb76fe612a5f9f73c525c6d872514a
}